<section class="ftco-section">
  <div class="container">
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">Türkiye Gezi Rehberi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto mr-md-3">
            <li class="nav-item " routerLinkActive="active"><a class="nav-link" [routerLink]="['/home']">Anasayfa</a></li>
            <li class="nav-item " routerLinkActive="active"><a class="nav-link" [routerLink]="['/admin']" *ngIf="isAdmin()">Admin Paneli</a></li>
            <li class="nav-item " routerLinkActive="active"><a class="nav-link" [routerLink]="['/city']">Şehirler</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" href="#tanıtım">Tanıtım</a></li>
          </ul>
        </div>
        <ul class="navbar-nav ml-auto mr-md-3 text-end">
          <li class="nav-item " routerLinkActive="active"><a class="nav-link" [routerLink]="['/register']" *ngIf="!currentUser?.username">Kayıt Ol</a></li>
          <li class="nav-item " routerLinkActive="active"><a class="nav-link" [routerLink]="['/login']" *ngIf="!currentUser?.username">Giriş Yap</a></li>
          <li class="nav-item " routerLinkActive="active"> <a class="nav-link" [routerLink]="['/profile']" *ngIf="currentUser?.id">{{currentUser.username}}</a></li>

          <li class="nav-item "><a class="nav-link" [routerLink]="['/home']" (click)="logOut()" *ngIf="currentUser?.id">Çıkış</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<router-outlet></router-outlet>





